# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

Some of the popular languages that Data Scientists use are:<ol>
    <li>Python
    <li>R
    <li>SQL
    <li>Scala
<ol>

Some of the commonly used libraries used by Data Scientists include:

    1.Pandas
    2.Numpy
    3.Matlplotlib
    4.ggplot2

|Data Science Tools|
|-------------------|
|Jupyter|
|RStudio|
|Apache Zepplin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**-List Popular Languages for Data Science<br>
-List Open Source IDE for Data Science<br>
-List the commonly used libraries for Data Science<br>
-Work With Jupyter Notebook**

## Author:
Midhru Jayan J